.Login{
    color: black;

}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
}


.Nom {
	display: flex;
	flex-direction: column;
}

input{
	width: 100%;
	height: 30px;
	margin-bottom: 13px;
}

button{
	margin-left: 30px !important;
	width: 70%;
}

.bouton{
	display: flex !important;
	align-items: baseline !important;
	justify-content: center !important;
	width: 100%;
}
